[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"
autopep8 = "*"

[packages]
numpy = "*"
soundfile = "==0.10.2"
deepspeech = "==0.5.1"
pydash = "*"
tensorflow = "==1.13.1"
pandas = "*"
editdistance = "*"
# pocketsphinx = {git = "https://github.com/bambocher/pocketsphinx-python",ref = "v0.1.15"}
666c6e5 = {file = "https://github.com/ludlows/python-pesq/archive/master.zip"}
cython = "*"

[requires]
python_version = "3.6"
