[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"
autopep8 = "*"

[packages]
numpy = "*"
soundfile = "==0.10.2"
deepspeech = "==0.6.0"
pydash = "*"
tensorflow = "~=1.14.0"
pandas = "*"
editdistance = "*"
cython = "*"
pystoi = "*"
scipy = "*"
pesq = "*"

[requires]
python_version = "3.6"
