[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"
autopep8 = "*"

[packages]
numpy = "*"
soundfile = "==0.10.2"
deepspeech = "==0.5.1"
pydash = "*"
tensorflow = "==1.14"
pandas = "*"
editdistance = "*"
cython = "*"
scipy = "*"

[requires]
python_version = "3.6"
